In [1]:
import pandas as pd

In [2]:
fato_vendas = pd.read_csv(r"C:\Users\alexm\Documents\Altice_DataAnalyst\fato_vendas.csv")
dim_clientes = pd.read_csv(r"C:\Users\alexm\Documents\Altice_DataAnalyst\dim_clientes.csv")
dim_cidades = pd.read_csv(r"C:\Users\alexm\Documents\Altice_DataAnalyst\dim_cidades.csv")
dim_produtos = pd.read_csv(r"C:\Users\alexm\Documents\Altice_DataAnalyst\dim_produtos.csv")

In [9]:
# Apenas os head() de cada dataset

fato_vendas.info()
dim_clientes.info()
dim_cidades.info()
dim_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ClienteID   10000 non-null  int64
 1   Valor_Euro  10000 non-null  float64
 2   Data        10000 non-null  object
 3   CidadeID    10000 non-null  int64
 4   ProdutoID   10000 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 390.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ClienteID  10000 non-null  int64
 1   Nome       10000 non-null  object
dtypes: int64(1), object(1)
memory usage: 156.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cidade    10 non-null     object
 1   CidadeID  10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Produto    8 non-null      object
 1   ProdutoID  8 non-null      int64
dtypes: int64(1), object(1)
memory usage: 260.0+ bytes

In [11]:
dim_cidades.head(25)

              Cidade  CidadeID
0             Lisboa         1
1              Porto         2
2              Braga         3
3            Coimbra         4
4               Faro         5
5            Cascais         6
6  Vila Nova de Gaia         7
7             Sintra         8
8            Funchal         9
9              Évora        10

In [12]:
import pandas as pd

# Carregar os arquivos CSV no Pandas
dim_produtos = pd.read_csv("C:/Users/alexm/Documents/Altice_DataAnalyst/dim_produtos.csv")
dim_cidades = pd.read_csv("C:/Users/alexm/Documents/Altice_DataAnalyst/dim_cidades.csv")

# Salvar novamente SEM o índice com novos nomes para identificar
dim_produtos.to_csv("C:/Users/alexm/Documents/Altice_DataAnalyst/dim_produtos_corrigido.csv", index=False)
dim_cidades.to_csv("C:/Users/alexm/Documents/Altice_DataAnalyst/dim_cidades_corrigido.csv", index=False)