## SQL

# Conexão do Python com SQL Server

Este notebook demonstra como conectar Python ao SQL Server utilizando a biblioteca pyodbc. Após estabelecer a conexão, é possível executar comandos SQL e visualizar os resultados de forma tabular com a biblioteca Pandas.

**Requisitos:**
- Driver ODBC instalado (ex.: ODBC Driver 17 for SQL Server)

- Ambiente Python configurado corretamente (ex.: ambiente virtual .venv)

- Credenciais e dados corretos para conexão (nome do servidor, banco de dados, etc.)

In [6]:
import pyodbc

connection_string = (
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=ALEXMENDES;"         # Nome ou endereço do servidor
    "Database=Altice;"
    "Trusted_Connection=yes;"
    "Connection Timeout=30;"      # Aumenta o tempo limite, se necessário
)

conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

cursor.execute("SELECT @@version;")
row = cursor.fetchone()
while row:
    print(row)
    row = cursor.fetchone()

conn.close()

('Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64) \n\tOct  8 2022 05:58:25 \n\tCopyright (C) 2022 Microsoft Corporation\n\tDeveloper Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 22000: ) (Hypervisor)\n',)

In [8]:
import pyodbc

connection_string = (
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=ALEXMENDES;"
    "Database=Altice;"
    "Trusted_Connection=yes;"
    "Connection Timeout=30;"
)
# Cria a conexão e o cursor (não feche)
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

In [12]:
import pandas as pd

query = "SELECT TOP 10 * FROM Altice"
df = pd.read_sql(query, conn)
df

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3561157156.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,1,Cliente_1,Lisboa,Internet 200 Mbps,50.50,2021-01-31
1,2,Cliente_2,Lisboa,Pacote TV HD,28.35,2019-02-24
2,3,Cliente_3,Lisboa,Internet 200 Mbps,61.81,2018-05-11
3,4,Cliente_4,Lisboa,Internet 100 Mbps,31.87,2020-08-10
4,5,Cliente_5,Lisboa,Internet 100 Mbps,41.22,2022-09-15
5,6,Cliente_6,Lisboa,Pacote TV HD,31.74,2021-02-13
6,7,Cliente_7,Lisboa,Internet 100 Mbps,45.18,2019-10-16
7,8,Cliente_8,Lisboa,Cloud,302.08,2019-09-29
8,9,Cliente_9,Lisboa,Pacote TV HD,39.36,2021-10-10
9,10,Cliente_10,Lisboa,Internet 200 Mbps,51.85,2019-02-01

In [13]:
import pandas as pd

# Dicionário com os nomes das consultas e as respectivas queries
queries = {
    "Nomes e Cidades": "SELECT Nome, Cidade FROM Altice;",
    "Clientes em Braga": "SELECT * FROM Altice WHERE Cidade = 'Braga';",
    "Clientes (Pacote TV HD)": "SELECT * FROM Altice WHERE Produto = 'Pacote TV HD';",
    "Clientes com Valor > 50": "SELECT * FROM Altice WHERE Valor_Euro > 50;",
    "Clientes em 2023": "SELECT * FROM Altice WHERE YEAR(Data_Assinatura) = 2023;",
    "Total de Clientes": "SELECT COUNT(*) AS TotalClientes FROM Altice;",
    "Total Clientes por Cidade": "SELECT Cidade, COUNT(*) AS TotalClientes FROM Altice GROUP BY Cidade;",
    "Valor Total por Cidade": "SELECT Cidade, SUM(Valor_Euro) AS ValorTotal FROM Altice GROUP BY Cidade;",
    "Top 5 Clientes (maior Valor)": "SELECT TOP 5 Nome, Valor_Euro FROM Altice ORDER BY Valor_Euro DESC;",
    "Média de Gastos por Produto": "SELECT Produto, AVG(Valor_Euro) AS MediaValor FROM Altice GROUP BY Produto;",
    "Clientes em Março 2018": "SELECT * FROM Altice WHERE YEAR(Data_Assinatura)=2018 AND MONTH(Data_Assinatura)=3;",
    "Clientes com Valor entre 20 e 50": "SELECT * FROM Altice WHERE Valor_Euro BETWEEN 20 AND 50;",
    "Valor Total por Ano": "SELECT YEAR(Data_Assinatura) AS Ano, SUM(Valor_Euro) AS ValorTotal FROM Altice GROUP BY YEAR(Data_Assinatura);",
    "Produto mais caro por Cliente": "SELECT Nome, MAX(Valor_Euro) AS ValorMaximo FROM Altice GROUP BY Nome;",
    "Clientes com serviços em >1 cidade": "SELECT Nome FROM Altice GROUP BY Nome HAVING COUNT(DISTINCT Cidade) > 1;",
    "Média de Gastos por Cliente": "SELECT Nome, AVG(Valor_Euro) AS MediaValor FROM Altice GROUP BY Nome;",
    "Clientes em Braga e Valor > 30": "SELECT * FROM Altice WHERE Cidade = 'Braga' AND Valor_Euro > 30;",
    "Valor Total por Produto": "SELECT Produto, SUM(Valor_Euro) AS ValorTotal FROM Altice GROUP BY Produto;",
    "Clientes em 2020 e 2023": "SELECT * FROM Altice WHERE YEAR(Data_Assinatura) IN (2020, 2023);",
    "Cidades distintas": "SELECT DISTINCT Cidade FROM Altice;",
    "Clientes em data específica": "SELECT * FROM Altice WHERE Data_Assinatura = '2023-07-11';"
}

# Executar cada consulta e exibir os resultados de forma tabular
for titulo, query in queries.items():
    print(f"Consulta: {titulo}")
    df = pd.read_sql(query, conn)
    display(df)
    print("\n")

Consulta: Nomes e Cidades

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

               Nome  Cidade
0         Cliente_1  Lisboa
1         Cliente_2  Lisboa
2         Cliente_3  Lisboa
3         Cliente_4  Lisboa
4         Cliente_5  Lisboa
...             ...     ...
9995   Cliente_9996  +ëvora
9996   Cliente_9997  +ëvora
9997   Cliente_9998  +ëvora
9998   Cliente_9999  +ëvora
9999  Cliente_10000  +ëvora

[10000 rows x 2 columns]

Consulta: Clientes em Braga

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,3811,Cliente_3811,Braga,Internet 100 Mbps,45.03,2021-03-08
1,3812,Cliente_3812,Braga,Net segura,297.94,2022-03-18
2,3813,Cliente_3813,Braga,Telefone Fixo Ilimitado,23.78,2019-05-21
3,3814,Cliente_3814,Braga,Internet 200 Mbps,57.91,2020-05-15
4,3815,Cliente_3815,Braga,Internet 200 Mbps,61.41,2020-01-02
...,...,...,...,...,...,...
871,4682,Cliente_4682,Braga,Pacote Mobile Empresarial,20.95,2019-08-06
872,4683,Cliente_4683,Braga,Internet 100 Mbps,48.01,2022-12-04
873,4684,Cliente_4684,Braga,Pacote Mobile Empresarial,22.30,2023-03-26
874,4685,Cliente_4685,Braga,Net segura,174.31,2020-04-18
875,4686,Cliente_4686,Braga,Net segura,126.08,2018-07-30

Consulta: Clientes (Pacote TV HD)

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,2,Cliente_2,Lisboa,Pacote TV HD,28.35,2019-02-24
1,6,Cliente_6,Lisboa,Pacote TV HD,31.74,2021-02-13
2,9,Cliente_9,Lisboa,Pacote TV HD,39.36,2021-10-10
3,22,Cliente_22,Lisboa,Pacote TV HD,35.27,2018-08-18
4,23,Cliente_23,Lisboa,Pacote TV HD,37.33,2021-07-16
...,...,...,...,...,...,...
1247,9983,Cliente_9983,+ëvora,Pacote TV HD,25.91,2023-02-17
1248,9986,Cliente_9986,+ëvora,Pacote TV HD,39.39,2023-10-16
1249,9988,Cliente_9988,+ëvora,Pacote TV HD,32.46,2023-06-01
1250,9992,Cliente_9992,+ëvora,Pacote TV HD,27.59,2019-01-24
1251,9999,Cliente_9999,+ëvora,Pacote TV HD,37.43,2022-01-18

Consulta: Clientes com Valor > 50

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,1,Cliente_1,Lisboa,Internet 200 Mbps,50.50,2021-01-31
1,3,Cliente_3,Lisboa,Internet 200 Mbps,61.81,2018-05-11
2,8,Cliente_8,Lisboa,Cloud,302.08,2019-09-29
3,10,Cliente_10,Lisboa,Internet 200 Mbps,51.85,2019-02-01
4,11,Cliente_11,Lisboa,"Pacote Integrado (TV, Internet, Telefone)",139.32,2020-12-19
...,...,...,...,...,...,...
4968,9991,Cliente_9991,+ëvora,Internet 200 Mbps,62.65,2021-10-27
4969,9995,Cliente_9995,+ëvora,Net segura,214.35,2018-09-05
4970,9996,Cliente_9996,+ëvora,Cloud,399.75,2022-08-15
4971,9998,Cliente_9998,+ëvora,"Pacote Integrado (TV, Internet, Telefone)",143.74,2020-04-12
4972,10000,Cliente_10000,+ëvora,Net segura,112.64,2021-06-13

Consulta: Clientes em 2023

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,25,Cliente_25,Lisboa,"Pacote Integrado (TV, Internet, Telefone)",94.88,2023-08-07
1,26,Cliente_26,Lisboa,Cloud,465.40,2023-02-23
2,33,Cliente_33,Lisboa,Cloud,378.77,2023-04-02
3,39,Cliente_39,Lisboa,Pacote Mobile Empresarial,27.63,2023-09-11
4,41,Cliente_41,Lisboa,Internet 100 Mbps,41.98,2023-06-25
...,...,...,...,...,...,...
1631,9985,Cliente_9985,+ëvora,Pacote Mobile Empresarial,28.10,2023-06-28
1632,9986,Cliente_9986,+ëvora,Pacote TV HD,39.39,2023-10-16
1633,9988,Cliente_9988,+ëvora,Pacote TV HD,32.46,2023-06-01
1634,9989,Cliente_9989,+ëvora,Pacote Mobile Empresarial,23.39,2023-07-23
1635,9990,Cliente_9990,+ëvora,Net segura,100.95,2023-04-05

Consulta: Total de Clientes

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   TotalClientes
0          10000

Consulta: Total Clientes por Cidade

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

              Cidade  TotalClientes
0             Sintra           1825
1            Funchal            542
2            Coimbra            508
3             +ëvora            278
4              Porto           1150
5            Cascais            970
6  Vila Nova de Gaia            901
7             Lisboa           2660
8               Faro            290
9              Braga            876

Consulta: Valor Total por Cidade

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

              Cidade  ValorTotal
0             Sintra   197305.58
1            Funchal    62416.33
2            Coimbra    54122.71
3             +ëvora    27876.43
4              Porto   119705.51
5            Cascais    97601.25
6  Vila Nova de Gaia    96229.95
7             Lisboa   283713.05
8               Faro    28450.54
9              Braga    88148.38

Consulta: Top 5 Clientes (maior Valor)

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

           Nome  Valor_Euro
0  Cliente_4255      499.74
1  Cliente_6576      499.74
2  Cliente_7232      499.34
3   Cliente_209      498.99
4  Cliente_2381      498.95

Consulta: Média de Gastos por Produto

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                                     Produto  MediaValor
0                          Internet 200 Mbps   59.896901
1                  Pacote Mobile Empresarial   22.391744
2                               Pacote TV HD   32.635159
3                                 Net segura  201.347840
4                          Internet 100 Mbps   39.859036
5  Pacote Integrado (TV, Internet, Telefone)  115.850329
6                    Telefone Fixo Ilimitado   24.946456
7                                      Cloud  344.921139

Consulta: Clientes em Março 2018

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,67,Cliente_67,Lisboa,Internet 100 Mbps,43.04,2018-03-02
1,161,Cliente_161,Lisboa,Cloud,316.84,2018-03-22
2,246,Cliente_246,Lisboa,Internet 100 Mbps,31.83,2018-03-26
3,342,Cliente_342,Lisboa,Internet 200 Mbps,63.26,2018-03-29
4,693,Cliente_693,Lisboa,Pacote Mobile Empresarial,29.36,2018-03-04
...,...,...,...,...,...,...
131,9458,Cliente_9458,Funchal,Net segura,155.27,2018-03-18
132,9618,Cliente_9618,Funchal,Internet 200 Mbps,66.77,2018-03-15
133,9738,Cliente_9738,+ëvora,Pacote TV HD,36.19,2018-03-10
134,9787,Cliente_9787,+ëvora,Internet 100 Mbps,40.82,2018-03-11
135,9790,Cliente_9790,+ëvora,"Pacote Integrado (TV, Internet, Telefone)",108.26,2018-03-28

Consulta: Clientes com Valor entre 20 e 50

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,2,Cliente_2,Lisboa,Pacote TV HD,28.35,2019-02-24
1,4,Cliente_4,Lisboa,Internet 100 Mbps,31.87,2020-08-10
2,5,Cliente_5,Lisboa,Internet 100 Mbps,41.22,2022-09-15
3,6,Cliente_6,Lisboa,Pacote TV HD,31.74,2021-02-13
4,7,Cliente_7,Lisboa,Internet 100 Mbps,45.18,2019-10-16
...,...,...,...,...,...,...
4575,9992,Cliente_9992,+ëvora,Pacote TV HD,27.59,2019-01-24
4576,9993,Cliente_9993,+ëvora,Telefone Fixo Ilimitado,20.87,2018-05-07
4577,9994,Cliente_9994,+ëvora,Telefone Fixo Ilimitado,27.55,2022-07-22
4578,9997,Cliente_9997,+ëvora,Internet 100 Mbps,32.97,2022-10-29
4579,9999,Cliente_9999,+ëvora,Pacote TV HD,37.43,2022-01-18

Consulta: Valor Total por Ano

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    Ano  ValorTotal
0  2021   162685.12
1  2022   176033.19
2  2019   186324.31
3  2020   174343.00
4  2023   171488.92
5  2018   184695.19

Consulta: Produto mais caro por Cliente

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

              Nome  ValorMaximo
0     Cliente_4345        32.96
1     Cliente_6928        37.44
2     Cliente_7457        44.17
3     Cliente_9573        64.81
4     Cliente_1579        54.44
...            ...          ...
9995  Cliente_6625        28.22
9996  Cliente_6721       204.52
9997  Cliente_8537        20.15
9998  Cliente_8750       475.30
9999  Cliente_8892        36.59

[10000 rows x 2 columns]

Consulta: Clientes com serviços em >1 cidade

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Empty DataFrame
Columns: [Nome]
Index: []

Consulta: Média de Gastos por Cliente

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

              Nome  MediaValor
0     Cliente_4345       32.96
1     Cliente_6928       37.44
2     Cliente_7457       44.17
3     Cliente_9573       64.81
4     Cliente_1579       54.44
...            ...         ...
9995  Cliente_6625       28.22
9996  Cliente_6721      204.52
9997  Cliente_8537       20.15
9998  Cliente_8750      475.30
9999  Cliente_8892       36.59

[10000 rows x 2 columns]

Consulta: Clientes em Braga e Valor > 30

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,3811,Cliente_3811,Braga,Internet 100 Mbps,45.03,2021-03-08
1,3812,Cliente_3812,Braga,Net segura,297.94,2022-03-18
2,3814,Cliente_3814,Braga,Internet 200 Mbps,57.91,2020-05-15
3,3815,Cliente_3815,Braga,Internet 200 Mbps,61.41,2020-01-02
4,3817,Cliente_3817,Braga,Cloud,305.61,2020-06-10
...,...,...,...,...,...,...
608,4680,Cliente_4680,Braga,Internet 100 Mbps,34.31,2019-08-26
609,4681,Cliente_4681,Braga,Net segura,273.04,2019-07-27
610,4683,Cliente_4683,Braga,Internet 100 Mbps,48.01,2022-12-04
611,4685,Cliente_4685,Braga,Net segura,174.31,2020-04-18
612,4686,Cliente_4686,Braga,Net segura,126.08,2018-07-30

Consulta: Valor Total por Produto

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                                     Produto  ValorTotal
0                          Internet 200 Mbps    74032.57
1                  Pacote Mobile Empresarial    29131.66
2                               Pacote TV HD    40859.22
3                                 Net segura   251684.80
4                          Internet 100 Mbps    49225.91
5  Pacote Integrado (TV, Internet, Telefone)   140642.30
6                    Telefone Fixo Ilimitado    30908.66
7                                      Cloud   439084.61

Consulta: Clientes em 2020 e 2023

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,4,Cliente_4,Lisboa,Internet 100 Mbps,31.87,2020-08-10
1,11,Cliente_11,Lisboa,"Pacote Integrado (TV, Internet, Telefone)",139.32,2020-12-19
2,18,Cliente_18,Lisboa,Telefone Fixo Ilimitado,23.70,2020-05-08
3,20,Cliente_20,Lisboa,Telefone Fixo Ilimitado,25.34,2020-09-29
4,24,Cliente_24,Lisboa,Cloud,280.32,2020-05-14
...,...,...,...,...,...,...
3287,9987,Cliente_9987,+ëvora,"Pacote Integrado (TV, Internet, Telefone)",147.90,2020-01-27
3288,9988,Cliente_9988,+ëvora,Pacote TV HD,32.46,2023-06-01
3289,9989,Cliente_9989,+ëvora,Pacote Mobile Empresarial,23.39,2023-07-23
3290,9990,Cliente_9990,+ëvora,Net segura,100.95,2023-04-05
3291,9998,Cliente_9998,+ëvora,"Pacote Integrado (TV, Internet, Telefone)",143.74,2020-04-12

Consulta: Cidades distintas

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

              Cidade
0             Sintra
1            Funchal
2            Coimbra
3             +ëvora
4              Porto
5            Cascais
6  Vila Nova de Gaia
7             Lisboa
8               Faro
9              Braga

Consulta: Clientes em data específica

C:\Users\alexm\AppData\Local\Temp\ipykernel_22724\3445858227.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ClienteID,Nome,Cidade,Produto,Valor_Euro,Data_Assinatura
0,1409,Cliente_1409,Lisboa,Internet 200 Mbps,68.40,2023-07-11
1,3898,Cliente_3898,Braga,Cloud,380.41,2023-07-11
2,4743,Cliente_4743,Coimbra,Telefone Fixo Ilimitado,25.40,2023-07-11
3,5224,Cliente_5224,Faro,Net segura,222.09,2023-07-11